<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Espaço Vida Terapia Alternativa</title>
    <link rel="stylesheet" type="text/css" href="../static/css/deash_usuario.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/background.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/ficha_clientes.css" />

<!-- ###########################################################################################-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="styleshe  
    et" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    
    <!-- Your custom styles (optional) -->
    <link href="../static/css/gerenciar_Usuarios.css" rel="stylesheet">
  
    
    
<!-- ###########################################################################################-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="shortcut icon" href="../static/imagens/logo.jpg" />

</head>
<body>
     

                        <!--  INICIO CONTEUDO 1° CARD CADASTRAR USUARIO  -->



                                            <input  data-name="entrada"
                                                type="text" name="nome_usuario" id="nome_usuario"
                                                class="form-control-dadosUsuario input-lg"
                                                placeholder="Nome* "
                                                onblur="formatanomeUsuario(this.value)" autofocus
                                                required>
                                            <!-- 
                                            <input data-name="entrada" 
                                                type="text"  maxlength="11" pattern="([0-9]{8})" 
                                                class="form-control-dadosUsuario  input-lg"
                                                name="cpf" id="cpf"  placeholder="CPF*"
                                                required>
                                                -->
                                                <input data-name="entrada" 
                                                type="text"   
                                                class="form-control-dadosUsuario  input-lg"
                                                name="cpf" id="cpf"  placeholder="CPF*"
                                                required>
                                            
                                            <input data-name="entrada" 
                                                type="date" class="form-control-dadosUsuario  input-lg"
                                                name="data_nascimento" id="data_nascimento"  placeholder="Data de Nascimento*"
                                                required>

                                                <div class="form-Select-sexo">

                                                        <label for=""
                                                            style="color: aliceblue">Sexo: &nbsp</label><br>
        
                                                        <select class="form-list-sexo" id="sexo"
                                                            name="sexo" required="required">
                                                            <option value="">Selecione</option>
                                                            <option value="Masculino">Masculino</option>
                                                            <option value="Feminino">Feminino</option>
                                                            </select>
                                                            
        
                                                    </div>
        

                                            <input data-name="entrada" 
                                                type="text" maxlength="8" pattern="([0-9]{8})"
                                                class="form-control-dadosUsuario  input-lg"
                                                name="cep" id="cep"  placeholder="CEP*"
                                                required>

                                            <input type="text"
                                            
                                                data-name="entrada"
                                                class="form-control-dadosUsuario input-lg"
                                                name="cidade" id="cidade" placeholder="Cidade*" required>

                                            <div class="form-Select-UF">
                                                <label for="" style="color: aliceblue">UF:
                                                    &nbsp</label><br>
                                                <select class="form-list-UF" id="UF" name="uf" required="required">
                                                    <option value="">Selecione</option>
                                                    <option value="AC">AC</option>
                                                    <option value="AL">AL</option>
                                                    <option value="AP">AP</option>
                                                    <option value="AM">AM</option>
                                                    <option value="BA">BA</option>
                                                    <option value="CE">CE</option>
                                                    <option value="DF">DF</option>
                                                    <option value="ES">ES</option>
                                                    <option value="GO">GO</option>
                                                    <option value="MA">MA</option>
                                                    <option value="MS">MS</option>
                                                    <option value="MT">MT</option>
                                                    <option value="MG">MG</option>
                                                    <option value="PA">PA</option>
                                                    <option value="PB">PB</option>
                                                    <option value="PR">PR</option>
                                                    <option value="PE">PE</option>
                                                    <option value="PI">PI</option>
                                                    <option value="RJ">RJ</option>
                                                    <option value="RN">RN</option>
                                                    <option value="RS">RS</option>
                                                    <option value="RO">RO</option>
                                                    <option value="RR">RR</option>
                                                    <option value="SC">SC</option>
                                                    <option value="SP">SP</option>
                                                    <option value="SE">SE</option>
                                                    <option value="TO">TO</option>
                                                </select>
                                            </div>

                                            <input data-name="entrada"
                                                type="text" name="endereco" id="endereco"
                                                class="form-control-dadosUsuario input-lg"
                                                placeholder="Endereço*" required>

                                            <input data-name="entrada"
                                                type="text" name="numero_endereco"
                                                id="numero_endereco"
                                                class="form-control-dadosUsuario input-lg"
                                                placeholder="N° de Endereço*" required>

                                            <input data-name="entrada"
                                                type="tel" name="telefone" id="telefone"
                                                
                                                class="form-control-dadosUsuario input-lg"
                                                placeholder="Telefone*" required>

                                            <input data-name="entrada"
                                                type="tel" name="celular" id="celular"
                                                 
                                                class="form-control-dadosUsuario input-lg"
                                                placeholder="Celular*" required>

                                            <div class="form-Select-artrose">

                                                <label for=""
                                                    style="color: aliceblue">Atrose: &nbsp</label><br>

                                                <select class="form-list-artrose" id="protusao"
                                                    name="artrose" required="required">
                                                    <option value="">Selecione</option>
                                                    <option value="sim">Sim</option>
                                                    <option value="nao">Não</option>
                                                    </select>                                                   
                                            </div>
                                            
                                            <div class="form-Select-protusao">

                                                    <label for=""
                                                        style="color: aliceblue">Protusão/Ernia Disco:&nbsp</label><br>
    
                                                    <select class="form-list-protusao" id="protusao"
                                                        name="protusao" required="required">
                                                        <option value="">Selecione</option>
                                                        <option value="sim">Sim</option>
                                                        <option value="nao">Não</option>
                                                        </select>
                                                        
                                                    </div>
                                            <input data-name="entrada" 
                                                type="text" Class="form-control-dadosUsuario  input-lg"
                                                name="cirurgia" id="cirurgia"  placeholder="Cirurgia? Se sim, qual?*"
                                                required>

                                            <input data-name="entrada" 
                                                type="text" Class="form-control-dadosUsuario  input-lg"
                                                name="medicacao" id="medicacao"  placeholder="Medicação? Se sim, qual?*"
                                                required>
                                                
                                            <input data-name="entrada" 
                                                type="email" Class="form-control-dadosUsuario  input-lg"
                                                name="email" id="email"  placeholder="E-mail*"
                                                required>
                                                

                                                <div class="control-group">
                                                    </br></br>
                                                        <h5 style="color:white">Descreva as  queixas atuais:</h5>
                                                          <div class="controls">                  
                                                            <textarea name="descricao" id="descricao" cols="30" rows="3" placeholder="Escreva aqui..."></textarea>
                                                            
                                                          </div>
                                                        </div>
                                                </div>

                                    

                                    <!--###### FIM DADOS PESSOAIS DE USUARIO ##### -->

                                    <!--###### DADOS DE LOGIN DO USUARIO ##### -->

                                    
                            
                        
                        <div class="modal-footer">
                            <div class="btn-group">
                                <button class="btn btn-danger" data-dismiss="modal"><span
                                        class="glyphicon glyphicon-remove"></span>
                                    Cancelar</button>
                                <button class="btn btn-primary"><span
                                        class="glyphicon glyphicon-check"></span>
                                    Salvar</button>
                            </div>
                        </div>

         
           
  
    <!-- ############ FIM CONFIGURAÇÕES DO CARD ###########-->

    <!--Fim 1° CARD-->



                        
</body>



</br></br></br></br></br></br></br></br></br></br></br></br>
    <footer>
        <div class="card-body text-center">
         <h4 class="text-white"><p>&copy; Copyright Espaço Vida Terapia Alternativa 2019 </p> </h4>
         <p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
         and product landing pages</p>   <br>
       </div>
      
      </footer>

</html>