.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}

.how-img img{
    width: 20%;
    max-width: 300px;
    background-color: gray;
    text-align: center;
}

.botoes{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
.grid {
    display: grid;
    grid-template-columns: 65px 65px 65px 65px 65px 65px 65px 65px 65px 65px;
    margin-left: 80px;
}


